<% provide(:title, @user.name) %>
<div class="row">
  <!-- asside tag used for content (such as sidebars)that completes the rest of the page but can also stand alone -->
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>